In [4]:
x = 5
print(x)

5

In [5]:
x,y = 1,2
print(x,y)

1 2

## EXERCISE-1
### Create a variable with name x and a value of 10. Execute.
### Tell the computer to show you the value of that variable without utilizing the print() function, similar to what you would do in Jupyter.h

In [6]:
x = 10

In [7]:
x

10

## EXERCISE-2
### Create a variable with name x and a value of 10. Execute
### Can you think of a second way to obtain the same result?

In [8]:
X = 10
print(x)

10

## EXERCISE-3
### On the same line, create four new variables: a, b, c, and d, that are equal to 10, 20, 30, and 40, respectively.

In [9]:
a,b,c,d = 10,20,30,40
print(a,b,c,d)

10 20 30 40

## EXCERCISE-4
### Python Variables - Exercise #4
### On the same line, create four new variables: a, b, c, and d, that are equal to 10, 20, 30, and 40, respectively.
### Tell the computer to show you the value corresponding to the variable b.
### Do the same for d.

In [11]:
a,b,c,d = 10,20,30,40
print(a)
print(d)

10
40

## EXCERCISE-5
### Numbers and Boolean Values - Exercise #1
### Create a variable a equal to "True".
### Check its type.

In [12]:
a = True
type(a)

bool

## Numbers and Boolean Values - Exercise #2
### Create a variable b equal to 99.
### Check its type.

In [13]:
b = 99
type(b)

int

## EXCERCISE-6
### Numbers and Boolean Values - Exercise #3
### Check the type of the value 0.99.

In [14]:
type(0.99)

float

## EXCERCISE-7
### Numbers and Boolean Values - Exercise #4
### Create a variable b equal to 99.
### Turn b into a float.
### Consider using the print() function as a tool to help you solve this exercise.

In [17]:
b = 99.0
print(type(b))

<class 'float'>

## EXCERCISE-8
### Numbers and Boolean Values - Exercise #5
### Turn 0.99 into an integer.

In [18]:
int(0.99)

0

## EXCERCISE-9
### Strings - Exercise #1
### Assign the value of 100 to the variable m.
### With the help of the variable m, write one line of code where the output after execution would be 100 days.
### Hint: You could provide four answers to this question!

In [19]:
m = 100
print(str(m), "days")

100 days

## EXCERCISE-10
### Strings - Exercise #2
### Produce an output equal to It's cool, isn't it? .

In [20]:
print("It's cool, isn't it?")

It's cool, isn't it?

## EXCERCISE-11
### Strings - Exercise #3
### Fix the string below.
### 'Don't be shy

In [21]:
print('Don\'t be shy')

Don't be shy

## EXCERCISE-12
### Strings - Exercise #4
### Produce an output equal to Click "OK".

In [24]:
print("Click \"OK\"")

Click "OK"

## EXCERCISE-13
### Strings - Exercise #5
### Include a plus sign in your line of code to produce 'Big Houses'.
### Include a trailing comma in your line of code to produce Big Houses.
### Please note: The output you produce should consist of two lines of code, each of which generates the same result.

In [26]:
"Big" + "Houses"
print("Big" + "Houses")

BigHouses

## EXCERCISE-14
### Arithmetic Operators - Exercise #1
### Combine 15 and 23.

In [1]:
15 + 23

38

## EXCERCISE-15
### Arithmetic Operators - Exercise #2
### Subtract 50 from 26.

In [3]:
26 - 50

-24

## EXCERCISE-16
### Arithmetic Operators - Exercise #3
### Divide 20 by 4.

In [4]:
20 / 4

5.0

## EXCERCISE-17
### Arithmetic Operators - Exercise #4
### Divide 22 by 4.

In [5]:
22 / 4

5.5

## EXCERCISE-18
### Arithmetic Operators - Exercise #5
### Obtain the remainder of the division of 22 by 4.

In [6]:
22 % 4

2

## EXCERCISE-19
### Arithmetic Operators - Exercise #6
### Divide the float 22 by 4.

In [7]:
float(22)/4

5.5

## EXCERCISE-20
### Arithmetic Operators - Exercise #7
### Multiply 6 by 8.

In [8]:
6 * 8

48

## EXCERCISE-21
### Arithmetic Operators - Exercise #8
### Raise 15 to the power of 2.

In [9]:
15 ** 2

225

## EXCERCISE-22
### The Double Equality Sign - Exercise #1
### Demonstrate that 100 is not equal to 98.

In [10]:
x = 100
x == 98

False

## EXCERCISE-23
### Reassign Values - Exercise #1
### Assign the value of 14 to a variable p.

In [11]:
p = 14

## EXCERCISE-24
### Reassign Values - Exercise #2
### Assign the value of 14 to a variable p.
### Calculate p + 10.

In [12]:
p = 14
p + 10

24

## EXCERCISE-25
### Reassign Values - Exercise #3
### Now, assign 30 to the variable p.

In [15]:
p = 30

## EXCERCISE-26
### Reassign Values - Exercise #4
### Calculate p + 10.

In [17]:
P = 30
P + 10

40

## EXCERCISE-27
### Line Continuation - Exercise #1
### Add a backslash in the code below, so it is a one-line code. Observe the change in the result.

### 15 + 31
### - 26

In [18]:
15 + 31 \
- 26

20

## EXCERCISE-28
### Indexing Elements - Exercise #1
### Extract the letter 'B' from "Bingo!".

In [19]:
"Bingo!"[0]

'B'

## EXCERCISE-29
### Indexing Elements - Exercise #2
### Extract the letter "u" from "Constitution".

In [20]:
"Constitution"[7]

'u'

## EXCERCISE-30
### Indentation - Exercise #1
### Use indentation properly to print the result of a function called ten() with any argument of x.

In [21]:
def ten(x):
    x = 10
    return x
print (ten(3))

10

## EXCERCISE-31
### Comparison Operators - Exercise #1
### Verify that 25 is smaller than 30.

In [22]:
25 < 30

True

## EXCERCISE-32
### Comparison Operators - Exercise #2
### Verify that 5 multiplied by 3 is less than or equal to 5 to the power of 3.

In [23]:
5 * 3 <= 5 ** 3

True

## EXCERCISE-33
### Comparison Operators - Exercise #3
### Verify that 100 is equal to 10 square.

In [25]:
100 == 10 ** 2

True

## EXCERCISE-34
### Comparison Operators - Exercise #4
### Verify that 53 is not equal to 46.

In [26]:
53 != 46

True

## EXCERCISE-35
### Logical and Identity Operators - Exercise #1
### Check whether the following code is True or False.
### False or not True and not False

In [1]:
False or not True and not False

False

## EXCERCISE-36
### Logical and Identity Operators - Exercise #2
### Check whether the following code is True or False.
### True and not False and True or not False

In [2]:
True and not False and True or not False

True

## EXCERCISE-37
### Logical and Identity Operators - Exercise #3
### Check whether the following code is True or False.
### True or False and False

In [3]:
True or False and False

True

## EXCERCISE-38
### Logical and Identity Operators - Exercise #4
### Check whether the following code is True or False.
### False and True or False

In [4]:
False and True or False

False

## EXCERCISE-39
### Logical and Identity Operators - Exercise #5
### Using an identity operator, verify that 10 is not the same as 12.

In [7]:
print(10 != 12)

False

## EXCERCISE-40
### Logical and Identity Operators - Exercise #6
### Using an identity operator, verify that 50 is the same as 50.

In [9]:
50 is 50

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/0y/6vqz_hlj1t13llqtxyrlx3rh0000gn/T/ipykernel_1227/4077015830.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  50 is 50

True

## EXCERCISE-41
### The IF Statement - Exercise #1
### Create a two-line code that prints "The condition has been satisfied" if 5 is greater than 2.

In [11]:
if 5 > 2:
    print("The condition has been satisfied")

The condition has been satisfied

## EXCERCISE-42
#### The IF Statement - Exercise #2
#### Assign 10 to the variable x and 25 to the variable y. In the same cell, create 2 conditional statements. Let the first one print "Both conditions are correct" if x is greater then 3 and y is greater than 13. Let the second one print "At least one of the conditions is false" if x is less than or equal to 3 or y is less than or equal to 13. Change the values assigned to x and y and re-run the cell to verify your code still works.

In [12]:
x, y = 10, 25
if x > 3 and y > 13:
    print("Both conditions are correct")
if x <= 3 or y <= 13:
    print("At least one of the conditions is false")

Both conditions are correct

## EXCERCISE-43
#### The ELSE Statement - Exercise #1
#### Let x represent the number of orders received during a certain day. Create a program that prints "A busy day" if x is greater than 100, and "A calm day" otherwise.

In [13]:
if x > 100:
    print("A busy day")
else:
    print("A calm day")

A calm day

## EXCERCISE-44
#### The ELIF Statement - Exercise #1
#### Create the following piece of code: If x > 200, print out "Big"; If x > 100 and x <= 200, print out "Average"; and If x <= 100, print out "Small". Use the if, elif, and else keywords in your code.

In [14]:
x = 150
if x > 200:
    print("Big")
elif x > 100 and x <= 200:
    print("Average")
else:
    print("Small")

Average

## EXCERCISE-45
#### The ELIF Statement - Exercise #2
#### Keep the first two conditions of the code from the previous exercise (if x > 200, print out "Big"; If x > 100 and x <= 200, print out "Average").Add a new elif statement, so that, eventually, the program prints "Small" if x >= 0 and x <= 100, and "Negative" if x < 0.

In [15]:
x = 200

if x > 200: 
    print ("Big")
elif x > 100 and x <= 200:
    print ("Average")
elif x >= 0 and x <= 100:
    print("Small")
else:
    print("Negative")

Average

## EXCERCISE-46
#### Creating a Function with a Parameter - Exercise #1
#### Define a function called multiplication_by_2(x) that returns a value equal to its argument multiplied by 2.

In [16]:
def multiplication_by_2(x):
    return x * 2

multiplication_by_2(2)

4

## EXCERCISE-47
#### Creating a Function with a Parameter - Exercise #2
#### Define a function called division_by_2(x) that returns a float value equal to its argument divided by 2.

In [17]:
def division_by_2(x):
    return float(x / 2)
division_by_2(2)

1.0

## EXCERCISE-48
#### Another Way to Define a Function - Exercise #1
#### Define a function called exponentiation_exp_2(x) that states the value of the argument accompanied by the phrase "Raised to the power of 2:" and returns a value equal to its argument raised to the power of 2. This time, use a new variable, called result, in the body of the Function. Call the function with some argument to verify it works properly.

In [19]:
def exponentiation_exp_2(x):
    # Print the value of the argument accompanied by the phrase
    print(f"{x} Raised to the power of 2:")
    
    # Calculate the result
    result = x ** 2
    
    # Return the result
    return result

exponentiation_exp_2(2)

2 Raised to the power of 2:

4

## EXCERCISE-49
#### Using a Function in Another Function - Exercise #1
#### Define a function called plus_five() that adds 5 to its argument. Then, define another function named m_by_3() that multiplies the argument (the result obtained from plus_five()) by 3. Verify your code was correct by calling the second function with an argument of 5. Was your output equal to 30?

In [23]:
def plus_five(x):
    return x + 5

def m_by_3():
    result = plus_five(5) * 3
    return result
result = m_by_3()
print(result)

30

## EXCERCISE-50
#### Conditional Statements and Functions - Exercise #1
#### Define a function, called compare_the_two(), with two arguments. If the first one is greater than the second one, let it print "Greater". If the second one is greater, it should print "Less". Let it print "Equal" if the two values are the same number.

In [24]:
def compare_the_two(a,b):
    if a > b:
        print("Greater")
    elif b > a:
        print("Less")
    else:
        print("Equal")

## EXCERCISE-51
#### Notable Built-In Functions in Python - Exercise #1
#### Obtain the maximum number among the values 25, 65, 890, and 15.

In [1]:
max(25, 65, 890, 15)

890

## EXCERCISE-52
#### Notable Built-In Functions in Python - Exercise #2
#### Obtain the minimum number among the values 25, 65, 890, and 15.

In [2]:
min(25, 65, 890, 15)

15

## EXCERCISE-53
#### Notable Built-In Functions in Python - Exercise #3
#### Find the absolute value of -100.

In [3]:
abs(-100)

100

## EXCERCISE-54
#### Notable Built-In Functions in Python - Exercise #4
#### Round the value of 55.5.

In [4]:
round(55.5)

56

## EXCERCISE-55
#### Notable Built-In Functions in Python - Exercise #5
#### Round 35.56789 to the third digit.

In [6]:
round(35.56789,3)

35.568

## EXCERCISE-56
#### Notable Built-In Functions in Python - Exercise #6
#### Find the sum of all elements in the provided list, called "Numbers".

In [8]:
Numbers = [1, 5, 64, 24.5]
sum(Numbers)

94.5

## EXCERCISE-57
#### Notable Built-In Functions in Python - Exercise #7
#### Use a built-in function to raise 10 to the power of 3.

In [9]:
pow(10,3)

1000

## EXCERCISE-58
#### Notable Built-In Functions in Python - Exercise #8 In one line of code, find how many characters there are in the word "Elephant"?

In [10]:
len("Elephant")

8

## EXCERCISE-59
#### Notable Built-In Functions in Python - Exercise #9
#### Create a function, called distance_from_zero(), that returns the absolute value of a provided single argument and prints a statement "Not possible" if the argument provided is not a number. To solve the task, use the type() function in the body of distance_from_zero().

#### Call the function with the values of -10 and "cat" to verify it works correctly.

In [13]:
def distance_from_zero(input):
    if type(input) != int:
        print("Not possible")
        return
    return abs(input)

distance_from_zero(-10)

10

In [14]:
distance_from_zero("cat")

Not possible

## EXCERCISE-60
#### Lists - Exercise #1
#### Create a list, called Numbers. Let it contain the numbers 10, 25, 40, and 50.

#### Print the element at index 2 from the list.

In [15]:
Numbers = [10, 25, 40, 50]
Numbers[2]

40

## EXCERCISE-61
#### Lists - Exercise #2
#### Print the 0th element from the Numbers list.

In [16]:
Numbers = [10, 25, 40, 50]
Numbers[0]

10

## EXCERCISE-62
#### Lists - Exercise #3
#### Print the third-to-last element from the Numbers list using a minus sign in the brackets.

In [18]:
Numbers = [10, 25, 40, 50]
print(Numbers[-3])

25

## EXCERCISE-63
#### Lists - Exercise #4
#### Replace the number 10 with the number 15 in the Numbers list.

In [19]:
Numbers = [10, 25, 40, 50]
Numbers[0] = 15
Numbers

[15, 25, 40, 50]

## EXCERCISE-64
#### Lists - Exercise #5
#### Delete the number 25 from the Numbers list.

In [20]:
Numbers = [10, 25, 40, 50]
del Numbers[1]
Numbers

[10, 40, 50]

## EXCERCISE-65
#### Using Methods - Exercise #1
#### Append the number 100 to the Numbers list.

In [21]:
Numbers = [15, 40, 50]
Numbers.append(100)

In [22]:
Numbers

[15, 40, 50, 100]

## EXCERCISE-66
#### Using Methods - Exercise #2
#### With the help of the .extend() method, add the numbers 115 an 140 to the Numbers list.

In [23]:
Numbers = [15, 40, 50, 100]
Numbers.extend([115,140])
Numbers

[15, 40, 50, 100, 115, 140]

## EXCERCISE-67
#### Using Methods - Exercise #3
#### Print a statement, saying "The fourth element of the Numbers list is" followed by the value of the fourth element of the Numbers list. Ensure you use a trailing comma to concatenate the statement with the value.

In [24]:
Numbers = [15, 40, 50, 100, 115, 140]
print("The fourth element of the Numbers list is", Numbers[3])

The fourth element of the Numbers list is 100

## EXCERCISE-68
#### Using Methods - Exercise #4
#### Currently, how many elements are there in the Numbers list?

In [25]:
Numbers = [15, 40, 50, 100, 115, 140]
len(Numbers)

6

## EXCERCISE-69
#### List Slicing - Exercise #1
#### Using list slicing, obtain the numbers 100 and 115.

In [26]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[3:5]

[100, 115]

## EXCERCISE-70
#### List Slicing - Exercise #2
#### Using slicing, extract the first four elements from the list.

In [27]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[:4]

[15, 40, 50, 100]

## EXCERCISE-71
#### List Slicing - Exercise #3
#### Using slicing, extract all the elements from the list from the 3rd position onwards.

In [28]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[3:]

[100, 115, 140]

## EXCERCISE-72
#### List Slicing - Exercise #4
#### Using slicing, extract the last 4 elements from the list.

In [29]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[-4:]

[50, 100, 115, 140]

## EXCERCISE-73
#### List Slicing - Exercise #5
#### Which is the position of the value 15?

In [30]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers.index(15)

0

## EXCERCISE-74
#### List Slicing - Exercise #6
#### Create a list, called Two_Numbers. Let its elements be the values 1 and 2. Then, create a new one, named All_Numbers, that will contain both the Two_Numbers and the Numbers lists in the given order.

In [32]:
Numbers = [15, 40, 50, 100, 115, 140]
Two_Numbers = [1,2]
All_Numbers = [Two_Numbers, Numbers]
All_Numbers

[[1, 2], [15, 40, 50, 100, 115, 140]]

## EXCERCISE-75
#### List Slicing - Exercise #7
#### Sort all the numbers in the Numbers list from the largest to the smallest.

In [39]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers.sort(reverse=True)
Numbers

[140, 115, 100, 50, 40, 15]

## EXCERCISE-76
#### Tuples - Exercise #1
#### Create a tuple, called Cars, with elements "BMW", "Dodge", and "Ford" in the given order.

In [40]:
Cars = ("BMW", "Dodge", "Ford")
Cars

('BMW', 'Dodge', 'Ford')

## EXCERCISE-77
#### Tuples - Exercise #2
#### Access the second element of the Cars tuple.

In [41]:
Cars[1]

'Dodge'

## EXCERCISE-78
#### Tuples - Exercise #3
#### Call a method that would allow you to extract the provided name and age separately. Then print the name and age values to see if you worked correctly.

In [47]:
name, age = 'Peter,24'.split(",")
print(name)
print(age)

Peter
24

## EXCERCISE-79
#### Tuples - Exercise #4
#### Create a function called rectangle_info() that takes the length and width of a rectangle as arguments. The function should then return the area and the perimeter of the rectangle. Call the function with arguments 2 and 10 to verify it worked correctly.

In [48]:
def rectangle_info(length, width):
    area = length * width
    perimeter = 2 * (length + width)
    return area, perimeter

rectangle_info(2,10)

(20, 24)

## EXCERCISE-80
#### Dictionaries - Exercise #1
#### This is the menu of a close-by restaurant:
#### Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
#### What is the second meal in the list?

In [49]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_2']

'Fries'

## EXCERCISE-81
#### Dictionaries - Exercise #2
#### Add a fifth meal: "Soup".

In [51]:
Menu['meal_5'] = "Soup"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

## EXCERCISE-82
#### Dictionaries - Exercise #3
#### Replace the Hamburger with a Cheeseburger.

In [52]:
Menu['meal_3'] = "Cheeseburger"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

## EXCERCISE-83
#### Dictionaries - Exercise #4
#### Attach the Desserts list as a sixth meal (remember, you were supposed to add Soup as a fifth meal earlier!).

In [53]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu['meal_5'] = "Soup"
Menu['meal_6'] = Dessert
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup',
 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}

## EXCERCISE-84
#### Dictionaries - Exercise #5
Create a new dictionary called Price_list that contains the first five meals of the Menu dictionary as keys and assign the following five values as prices (assumed in dollars): 10, 5, 8, 12, 5. Start by Price_list = {}.

In [56]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Price_list = {}
Price_list[Menu.get('meal_1')] = 10
Price_list[Menu.get('meal_2')] = 5
Price_list[Menu.get('meal_3')] = 8
Price_list[Menu.get('meal_4')] = 12
Price_list[Menu.get('meal_5')] = 5
Price_list

{'Spaghetti': 10, 'Fries': 5, 'Cheeseburger': 8, 'Lasagna': 12, 'Soup': 5}

## EXCERCISE-85
#### Dictionaries - Exercise #6
Use the print() function and the .get() method to check the price of the Spaghetti in the Price_list.

In [59]:
Price_list = {'Cheeseburger': 8, 'Fries': 5, 'Lasagna': 12, 'Soup': 5, 'Spaghetti': 10}
print(Price_list.get("Spaghetti"))

10

## EXCERCISE-86
#### For Loops - Exercise #1
#### Create a For loop that prints every digit on a new line.

In [60]:
digits = [0,1,2,3,4,5,6,7,8,9]
for each in digits:
    print(each)

0
1
2
3
4
5
6
7
8
9

## EXCERCISE-87
#### For Loops - Exercise #2
#### Adjust the code, so the digits are all printed on the same line.

In [61]:
digits = [0,1,2,3,4,5,6,7,8,9]

for d in digits:
    print (d, end = " ")

0 1 2 3 4 5 6 7 8 9

## EXCERCISE-88
#### While Loops and Incrementing - Exercise #1
Create a while loop that will print all odd numbers from 0 to 30 on the same row.

In [63]:
i = 0
while i <= 30:
    if i %2 
    i = i+1

## EXCERCISE-89
#### Create Lists with the range() Function - Exercise #1
Use the range() function to create a list with all numbers from 1 to 10.

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## EXCERCISE-90
#### Create Lists with the range() Function - Exercise #2
Use the range() function to create a list with all numbers from 0 to 19.

In [3]:
list(range(0,19))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

## EXCERCISE-91
#### Create Lists with the range() Function - Exercise #3
Use the range() function to create a list with all even numbers from 0 to 30 included.

In [5]:
list(range(0,31,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

## EXCERCISE-92
### Conditional Statements and Loops - Exercise #1
Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [8]:
for each in range(1,11):
    print(each * 2, end = " ")

2 4 6 8 10 12 14 16 18 20

## EXCERCISE-93
#### Conditional Statements and Loops - Exercise #2
Create a little program that runs a loop over all values from 1 to 30. Let it print all odd numbers, and in the place of the even numbers, it should print "Even". Help yourself with the range() function to solve this exercise.

In [10]:
for each in range(1,31):
    if each %2 != 0:
        print(each)
    else:
        print("Even")

1
Even
3
Even
5
Even
7
Even
9
Even
11
Even
13
Even
15
Even
17
Even
19
Even
21
Even
23
Even
25
Even
27
Even
29
Even

## EXCERCISE-94
#### Conditional Statements and Loops - Exercise #3
You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10. Find two solutions of this problem.

In [11]:
n = [1,2,3,4,5,6]
for i in n:
    print(i * 10)

10
20
30
40
50
60

In [23]:
for item in range(len(n)):
    print(n[item] * 10,end=" ")

10 20 30 40 50 60

## EXCERCISE-95
#### Conditional Statements, Functions, and Loops - Exercise #1
You are provided with the nums list. Define a function called count() containing a while loop to count the number of values in the nums list that are lower than 20.

In [28]:
nums = [1,35,12,24,31,51,70,100]

def count(numbers):
    counter = 0
    i = 0
    while i < len(numbers):
        if numbers[i] < 20:
            counter = counter + 1
        i += 1
    return counter

print(count(nums))

2

## EXCERCISE-96
#### Iterating over Dictionaries - Exercise #1
In this exercise you will use the same dictionaries as the ones we used in the lesson - prices and quantity. This time, don't just calculate all the money Jan spent. Calculate how much she spent on products with a price of 5 dollars or more.

In [30]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

for i in prices:
    if prices[i] >= 5:
        money_spent = money_spent + prices[i] * quantity[i]

print(money_spent)

50

## EXCERCISE-97
#### Iterating over Dictionaries - Exercise #2
How much did Jan spent on products that cost less than 5 dollars?

In [32]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0
for i in prices:
    if prices[i] < 5:
        money_spent = money_spent + prices[i] * quantity[i]

print(money_spent)

24